<a href="https://colab.research.google.com/github/womenwhocodedc/python-community/blob/master/IntroToDataScience.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Handling Dirty and Missing Data Using Pandas

Presented by

Saba Ali and Marissa Weiner

Authors:

Sian Lewis, Booz Allen Hamilton, sian.lewis@gmail.com

Valeria Rozenbaum, Thomson Reuters

#### NOTE: OPEN IN PLAYGROUND MODE IF YOU CAN

# ABOUT THE DATASET

**The dataset we're working with today comes from the  [FlourishOA github repo](https://github.com/FlourishOA/Data)**


**[FlourishOA](http://flourishoa.org/) was created by University of Washington's Information School Data Science and Analytics Lab to allow for the discovery of reputable open access publications . 
The data was compiled from a variety of sources, including researchers, web scraping, and the publishers themselves.**

**Our dataset consists the following columns:**

* **issn** international standardized code which identifies journals, magazines, and publications of both print and electronica media
* **journal_name** name of the journal
* **pub_name** name of the publisher
* **is_hybrid**   definition unknown
* **category**  subject classification of the journal
* **url** web link to the publication

In [0]:
## First things first, let's import the packages we'll be using

import pandas as pd # Pandas library for data manipulation 
import numpy as np  # Numpy library for scientific computation 
import io #for allowing pandas.read_csv to read in the file in google colab
import requests # Allows requesting url

####################################### 
#######################################

url = 'https://raw.githubusercontent.com/FlourishOA/Data/master/estimated-article-influence-scores-2015.csv'
df = pd.read_csv(url)

# Part 1: Cleaning Dirty Data 

 **Python References and Documentation**
*  [Python Encodings](https://docs.python.org/3.7/library/codecs.html#encodings-and-unicode) 
*  [Pandas Read CSV](https://docs.python.org/2.4/lib/standard-encodings.html)
* [Regular Expressions](https://docs.python.org/3.4/howto/regex.html)
* [Regular Expressions with Pandas](https://www.dataquest.io/blog/regular-expressions-data-scientists/)

## 1.a: Encoding

Character encodings allow your computer to interpret binary bytes (ex:111010101101) as real characters. This is done by mapping human readable characters to byte strings.

While there are many encodings, UTF-8 is one of the most commonly used and is often the default for Python.

Because of this, our encoding problems don't become problems until we have non UTF-8 data.  

**General Terms**
- Decoding - To convert a string of bytes to a unicode string aka human readable.
- Encoding - To represent a unicode string as a string of bytes.

In [0]:
# We don't have to specify the encoding when reading in a csv using pandas and most of the time there aren't any issues because the data is likely utf8 encoded
# Spoiler alert: this data is not

this_will_fail = pd.read_csv('https://raw.githubusercontent.com/FlourishOA/Data/master/api_journal11-13-17.csv')

UnicodeDecodeError: ignored

In [0]:
#Lets try reading in the actual csv file we uploaded at the top and specify decoding to utf8
s = requests.get(url).content
utf8_decode = pd.read_csv(io.StringIO(s.decode('utf-8')))
utf8_jn_list = utf8_decode['journal_name'].unique().tolist()


utf8_jn_list[:500]

['3d research',
 'aaps pharmscitech',
 'abstract and applied analysis',
 'academic psychiatry',
 'academic questions',
 'accreditation and quality assurance',
 'acoustics australia',
 'acrocephalus',
 'acta adriatica',
 'acta agriculturae slovenica',
 'acta amazonica',
 'acta applicandae mathematicae',
 'acta biochimica polonica',
 'acta bioethica',
 'acta biologica cracoviensia series botanica',
 'acta biotheoretica',
 'acta botanica brasilica',
 'acta botanica croatica',
 'acta chimica sinica',
 'acta chimica slovenica',
 'acta cirurgica brasileira',
 'acta clinica croatica',
 'acta diabetologica',
 'acta endoscopica',
 'acta ethologica',
 'acta geophysica',
 'acta geotechnica',
 'acta herpetologica',
 'acta histochemica et cytochemica',
 'acta ichthyologica et piscatoria',
 'acta informatica',
 'acta limnologica brasiliensia',
 'acta mechanica',
 'acta mechanica sinica',
 'acta medica okayama',
 'acta medica portuguesa',
 'acta montanistica slovaca',
 'acta neurobiologiae experimentalis',
 'acta neurochirurgica',
 'acta neurologica belgica',
 'acta neuropathologica',
 'acta orthopaedica',
 'acta orthopaedica et traumatologica turcica',
 'acta ortopedica brasileira',
 'acta palaeontologica polonica',
 'acta paulista de enfermagem',
 'acta pharmaceutica',
 'acta physica polonica a',
 'acta physiologiae plantarum',
 'acta polytechnica hungarica',
 'acta protozoologica',
 'acta reumatologica portuguesa',
 'acta societatis botanicorum poloniae',
 'acta veterinaria brno',
 'acta veterinaria scandinavica',
 'acta zoologica academiae scientiarum hungaricae',
 'active and passive electronic components',
 'adansonia',
 'addiction science & clinical practice',
 'adhd attention deficit and hyperactivity disorders',
 'advanced science letters',
 'advances in acoustics and vibration',
 'advances in applied clifford algebras',
 'advances in artificial intelligence',
 'advances in artificial neural systems',
 'advances in astronomy',
 'advances in atmospheric sciences',
 'advances in bioinformatics',
 'advances in civil engineering',
 'advances in cognitive psychology',
 'advances in computational mathematics',
 'advances in condensed matter physics',
 'advances in decision sciences',
 'advances in difference equations',
 'advances in electrical and computer engineering',
 'advances in fuzzy systems',
 'advances in geosciences',
 'advances in health sciences education',
 'advances in high energy physics',
 'advances in materials science and engineering',
 'advances in mathematical physics',
 'advances in mechanical engineering',
 'advances in medical sciences',
 'advances in meteorology',
 'advances in numerical analysis',
 'advances in operations research',
 'advances in optical technologies',
 'advances in optoelectronics',
 'advances in pharmacological sciences',
 'advances in physical chemistry',
 'advances in physiology education',
 'advances in rehabilitation',
 'advances in science and research',
 'advances in software engineering',
 'advances in therapy',
 'advances in tribology',
 'advances in urology',
 'aequationes mathematicae',
 'aerobiologia',
 'aesthetic plastic surgery',
 'africa spectrum',
 'african archaeological review',
 'african invertebrates',
 'african journal of agricultural research',
 'african journal of biotechnology',
 'african journal of business management',
 'african journal of microbiology research',
 'african journal of paediatric surgery',
 'african journal of pharmacy and pharmacology',
 'african journal of primary health care & family medicine',
 'age',
 'ageing international',
 'aging cell',
 'aging clinical and experimental research',
 'agricultural and food science',
 'agriculture and human values',
 'agrociencia',
 'agroforestry systems',
 'agronomy for sustainable development',
 'ai & society',
 'aids and behavior',
 'aids research and therapy',
 'aids research and treatment',
 'aip advances',
 'alcohol',
 'alcohol research & health',
 'algebra universalis',
 'algebras and representation theory',
 'algorithmica',
 'algorithms',
 'algorithms for molecular biology',
 'allergology international',
 'alpine botany',
 'amb express',
 'american journal of animal and veterinary sciences',
 'american journal of applied sciences',
 'american journal of cancer research',
 'american journal of cardiovascular drugs',
 'american journal of clinical dermatology',
 'american journal of criminal justice',
 'american journal of dance therapy',
 'american journal of engineering and applied sciences',
 'american journal of potato research',
 'american journal of translational research',
 'amfiteatru economic',
 'amino acids',
 'anaerobe',
 'anais brasileiros de dermatologia',
 'anales de psicologia',
 'anales del jardin botanico de madrid',
 'analog integrated circuits and signal processing',
 'analytical and bioanalytical chemistry',
 'analytical cellular pathology',
 'analytical sciences',
 'anatolian journal of cardiology',
 'anatomical science international',
 'andean geology',
 'anemia',
 'anesthesiology research and practice',
 'angiogenesis',
 'animal biodiversity and conservation',
 'animal cognition',
 'animal science papers and reports',
 'annales geophysicae',
 'annali dell istituto superiore di sanita',
 'annals academy of medicine singapore',
 'annals of agricultural and environmental medicine',
 'annals of behavioral medicine',
 'annals of biomedical engineering',
 'annals of cardiac anaesthesia',
 'annals of clinical microbiology and antimicrobials',
 'annals of combinatorics',
 'annals of dyslexia',
 'annals of family medicine',
 'annals of finance',
 'annals of forest research',
 'annals of forest science',
 'annals of general psychiatry',
 'annals of geophysics',
 'annals of glaciology',
 'annals of global analysis and geometry',
 'annals of hematology',
 'annals of indian academy of neurology',
 'annals of intensive care',
 'annals of mathematics and artificial intelligence',
 'annals of microbiology',
 'annals of nuclear medicine',
 'annals of operations research',
 'annals of pediatric cardiology',
 'annals of saudi medicine',
 'annals of solid and structural mechanics',
 'annals of surgical innovation and research',
 'annals of surgical oncology',
 'annals of thoracic and cardiovascular surgery',
 'annals of thoracic medicine',
 'annals of tropical medicine and public health',
 'anthropological review',
 'anthropological science',
 'anuario colombiano de historia social y de la cultura',
 'anuario de estudios americanos',
 'anuario de estudios medievales',
 'aob plants',
 'apidologie',
 'apl materials',
 'apoptosis',
 'appetite',
 'applicable analysis and discrete mathematics',
 'applied and environmental soil science',
 'applied biochemistry and biotechnology',
 'applied bionics and biomechanics',
 'applied categorical structures',
 'applied composite materials',
 'applied ecology and environmental research',
 'applied entomology and zoology',
 'applied geomatics',
 'applied health economics and health policy',
 'applied informatics',
 'applied intelligence',
 'applied magnetic resonance',
 'applied microbiology and biotechnology',
 'applied physics a',
 'applied physics b',
 'applied psychophysiology and biofeedback',
 'applied research in quality of life',
 'applied spatial analysis and policy',
 'aquaculture',
 'aquaculture environment interactions',
 'aquaculture international',
 'aquatic biology',
 'aquatic ecology',
 'aquatic geochemistry',
 'aquatic invasions',
 'aquatic sciences',
 'aquichan',
 'arabian journal for science and engineering',
 'arabian journal of chemistry',
 'arabian journal of geosciences',
 'archaeological and anthropological sciences',
 'archiv der mathematik',
 'archival science',
 'archive for history of exact sciences',
 'archive for mathematical logic',
 'archive for rational mechanics and analysis',
 'archive of applied mechanics',
 'archives of acoustics',
 'archives of biological sciences',
 'archives of computational methods in engineering',
 'archives of dermatological research',
 'archives of environmental contamination and toxicology',
 'archives of environmental protection',
 'archives of gynecology and obstetrics',
 'archives of histology and cytology',
 'archives of mechanics',
 'archives of medical science',
 'archives of metallurgy and materials',
 'archives of microbiology',
 'archives of orthopaedic and trauma surgery',
 'archives of osteoporosis',
 'archives of pharmacal research',
 'archives of polish fisheries',
 'archives of scientific psychology',
 'archives of sexual behavior',
 'archives of toxicology',
 'archives of virology',
 'archivos de medicina',
 'archivos de zootecnia',
 'archivum immunologiae et therapiae experimentalis',
 'argumentation',
 'arhiv za higijenu rada i toksikologiju',
 'arkivoc',
 'arquivo brasileiro de medicina veterinaria e zootecnia',
 'arquivos brasileiros de cardiologia',
 'arquivos brasileiros de oftalmologia',
 'arquivos de gastroenterologia',
 'arthritis',
 'arthritis research & therapy',
 'arthroskopie',
 'artificial intelligence and law',
 'artificial intelligence review',
 'artificial life and robotics',
 'asia europe journal',
 'asia pacific education review',
 'asia pacific family medicine',
 'asia pacific journal of management',
 'asian journal of algebra',
 'asian journal of andrology',
 'asian journal of applied sciences',
 'asian journal of chemistry',
 'asian journal of clinical nutrition',
 'asian journal of criminology',
 'asian journal of crop science',
 'asian journal of epidemiology',
 'asian journal of mathematics & statistics',
 'asian journal of pharmaceutics',
 'asian journal of plant sciences',
 'asian journal of scientific research',
 'asian journal of surgery',
 'asian journal of transfusion science',
 'asian pacific journal of cancer prevention',
 'asn neuro',
 'asta advances in statistical analysis',
 'astrophysics and space science',
 'atencion primaria',
 'atherosclerosis',
 'atlantic economic journal',
 'atmosfera',
 'atmosphere',
 'atmospheric chemistry and physics',
 'atmospheric measurement techniques',
 'atmospheric science letters',
 'audiology',
 'australasian journal of educational technology',
 'australasian journal of information systems',
 'australasian medical journal',
 'australasian physical & engineering sciences in medicine',
 'australasian plant pathology',
 'australia and new zealand health policy',
 'australian journal of crop science',
 'austrian journal of earth sciences',
 'autex research journal',
 'autism research and treatment',
 'autoimmune diseases',
 'automated experimentation',
 'automatica',
 'autonomous robots',
 'avian conservation and ecology',
 'axiomathes',
 'balkan journal of geometry and its applications',
 'balkan journal of medical genetics',
 'balkan medical journal',
 'baltic journal of law & politics',
 'baltica',
 'bangladesh journal of pharmacology',
 'bangladesh journal of plant taxonomy',
 'basic research in cardiology',
 'bayesian analysis',
 'behavior genetics',
 'behavior research methods',
 'behavioral and brain functions',
 'behavioral ecology and sociobiology',
 'behavioural neurology',
 'beilstein journal of nanotechnology',
 'beilstein journal of organic chemistry',
 'biocell',
 'biochemia medica',
 'biochemical genetics',
 'biochemistry research international',
 'biochimie',
 'biocontrol',
 'biocontrol science',
 'biodata mining',
 'biodegradation',
 'biodiversity and conservation',
 'biodrugs',
 'bioelectrochemistry',
 'bioenergy research',
 'biogeochemistry',
 'biogeosciences',
 'biogeosciences discussions',
 'biogerontology',
 'bioinformatics and biology insights',
 'bioinorganic chemistry and applications',
 'biointerphases',
 'biologia plantarum',
 'biological & pharmaceutical bulletin',
 'biological cybernetics',
 'biological invasions',
 'biological letters',
 'biological procedures online',
 'biological research',
 'biological theory',
 'biological trace element research',
 'biologicals',
 'biology and fertility of soils',
 'biology direct',
 'biology of sex differences',
 'biology of sport',
 'biomarker insights',
 'biomaterials',
 'biomechanics and modeling in mechanobiology',
 'biomed research international',
 'biomedica',
 'biomedical engineering online',
 'biomedical microdevices',
 'biometals',
 'biomicrofluidics',
 'biomolecular nmr assignments',
 'biophysical reviews',
 'bioprocess and biosystems engineering',
 'biopsychosocial medicine',
 'bioresources',
 'bioscience horizons',
 'bioscience reports',
 'bioscience trends',
 'biosemiotics',
 'biosystems',
 'biota neotropica',
 'biotechnologie agronomie societe et environnement',
 'biotechnology & biotechnological equipment',
 'biotechnology for biofuels',
 'biotechnology letters',
 'biotechnology research international',
 'bit numerical mathematics',
 'blood cancer journal',
 'blood transfusion',
 'bmc anesthesiology',
 'bmc biochemistry',
 'bmc bioinformatics',
 'bmc biology',
 'bmc biophysics',
 'bmc biotechnology',
 'bmc blood disorders',
 'bmc cancer',
 'bmc cardiovascular disorders',
 'bmc cell biology',
 'bmc chemical biology',
 'bmc clinical pathology',
 'bmc clinical pharmacology',
 'bmc complementary and alternative medicine',
 'bmc dermatology',
 'bmc developmental biology',
 'bmc ecology',
 'bmc emergency medicine',
 'bmc endocrine disorders',
 'bmc evolutionary biology',
 'bmc family practice',
 'bmc gastroenterology',
 'bmc genetics',
 'bmc genomics',
 'bmc geriatrics',
 'bmc health services research',
 'bmc immunology',
 'bmc infectious diseases',
 'bmc international health and human rights',
 'bmc medical education',
 'bmc medical ethics',
 'bmc medical genetics',
 'bmc medical genomics',
 'bmc medical imaging',
 'bmc medical informatics and decision making',
 'bmc medical physics',
 'bmc medical research methodology',
 'bmc medicine',
 'bmc microbiology',
 'bmc molecular biology',
 'bmc musculoskeletal disorders',
 'bmc nephrology',
 'bmc neurology',
 'bmc neuroscience',
 'bmc nursing',
 'bmc ophthalmology',
 'bmc oral health',
 'bmc palliative care',
 'bmc pediatrics',
 'bmc pharmacology',
 'bmc physiology',
 'bmc plant biology',
 'bmc pregnancy and childbirth',
 'bmc proceedings',
 'bmc psychiatry',
 'bmc public health',
 'bmc pulmonary medicine',
 'bmc research notes',
 'bmc structural biology',
 'bmc surgery',
 'bmc systems biology',
 'bmc urology',
 'bmc veterinary research',
 'bmj open',
 'boletin de la sociedad argentina de botanica',
 'bone',
 'bone marrow research',
 'boreal environment research',
 'bosnian journal of basic medical sciences',
 'botanical studies',
 'boundary value problems',
 'brachytherapy',
 'bragantia',
 'brain imaging and behavior',
 'brain sciences',
 'brain topography',
 'brain tumor pathology',
 'brazilian archives of biology and technology',
 'brazilian journal of biology',
 'brazilian journal of botany',
 'brazilian journal of cardiovascular surgery',
 'brazilian journal of chemical engineering',
 'brazilian journal of infectious diseases',
 'brazilian journal of medical and biological research',
 'brazilian journal of microbiology',
 'brazilian journal of oceanography',
 'brazilian journal of pharmaceutical sciences',
 'brazilian journal of physics',
 'brazilian journal of poultry science',
 'brazilian journal of veterinary research and animal science',
 'brazilian oral research',
 'breast cancer',
 'breast cancer research',
 'breast cancer research and treatment',
 'breathe']

**We are able to read the file in. Sometimes data will have the "?" character. If that is the case, we must do a different type of encoding.**

---



**The ? signifies an unknown character and means that there is no utf8 mapping for that particular byte to be translated.**

In [0]:
# Let's try using a different encoding 
# Fun fact...kind of: latin1 is an alias for ISO-8859-1 

df = pd.read_csv('https://raw.githubusercontent.com/FlourishOA/Data/master/api_journal11-13-17.csv',encoding='ISO-8859-1') 
jn_list = df['journal_name'].unique().tolist()


jn_list[:500]

#### With the correct encoding, we can read the text from our previous example and see what the unknown characters were



*   utf8:

Onom?zein : Revista De Ling??stica, Filolog?a Y Traducci?nOnomázein
*   ISO-8859-1:        

Onomázein : Revista De Lingüística, Filología Y Traducción

In [0]:
## Let's do a quick profile of our dataset 

def eda(dataframe):
    print('MISSING VALUES\n', dataframe.isnull().sum())
    print('\n DATA TYPES \n', dataframe.dtypes)
    print('\n DATA SHAPE \n', dataframe.shape)
    print('\n DATA DESCRIBE \n', dataframe.describe())
    for item in dataframe:
        print('\n UNIQUE VALUE TOTALS \n',item)
        print(dataframe[item].nunique())
        
eda(df)

MISSING VALUES
 issn               0
journal_name       0
pub_name        1470
is_hybrid          0
category        6331
url             6788
dtype: int64

 DATA TYPES
 issn            object
journal_name    object
pub_name        object
is_hybrid        int64
category        object
url             object
dtype: object

 DATA SHAPE
 (13149, 6)

 DATA DESCRIBE
           is_hybrid
count  13149.000000
mean       0.131949
std        0.338448
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        1.000000

 UNIQUE VALUE TOTALS
 issn
13149

 UNIQUE VALUE TOTALS
 journal_name
11581

 UNIQUE VALUE TOTALS
 pub_name
3529

 UNIQUE VALUE TOTALS
 is_hybrid
2

 UNIQUE VALUE TOTALS
 category
140

 UNIQUE VALUE TOTALS
 url
6327

## 1.b: Deduplication

In [0]:
# Lets check if we have any serial number duplication


print(any(df['issn'].duplicated())) #any is a method that iterates through strings and returns a boolean value based on the condition. 
                                    #returning false means that no duplicate values were found in issn

False

In [0]:
#We can also check for duplication in multiple columns using the same logic

print(any(df.duplicated(['journal_name', 'pub_name','url'])))

True

In [0]:
#Lets see the dupes

df[df.duplicated(['journal_name', 'pub_name','url'], keep='first')] #specifying keep=first counts the first occurring value as original and the remaining as duplicates

#Looks like we ran into a problem with identifying actual dupe values.. because nulls

            issn  ...                              url
132    0053-0016  ...                              NaN
133    0053-0017  ...                              NaN
134    0053-0018  ...                              NaN
135    0053-0019  ...                              NaN
136    0053-0020  ...                              NaN
137    0053-0021  ...                              NaN
138    0053-0022  ...                              NaN
139    0053-0023  ...                              NaN
140    0053-0024  ...                              NaN
141    0053-0025  ...                              NaN
142    0053-0026  ...                              NaN
435    0719-4986  ...  http://www.biodiversnathist.com
454    0812-1126  ...                              NaN
455    0812-1135  ...                              NaN
456    0812-1137  ...                              NaN
533    0973-7294  ...                              NaN
534    0973-7308  ...                              NaN
535    0973-7537  ...                              NaN
536    0973-7545  ...                              NaN
548    0974-0910  ...                              NaN
562    0974-5718  ...                              NaN
578    0974-8998  ...                              NaN
596    0975-2293  ...                              NaN
597    0975-2307  ...                              NaN
616    0975-427X  ...                              NaN
618    0975-4660  ...                              NaN
619    0975-4679  ...                              NaN
627    0975-5926  ...                              NaN
628    0975-5934  ...                              NaN
629    0975-5985  ...                              NaN
...          ...  ...                              ...
13107  6095-2015  ...                              NaN
13109  6633-2016  ...                              NaN
13110  6755-4183  ...                              NaN
13111  6776-9071  ...                              NaN
13112  7105-2016  ...                              NaN
13113  7195-9290  ...                              NaN
13114  7256-3713  ...                              NaN
13115  7258-7266  ...                              NaN
13116  7356-2016  ...                              NaN
13117  7494-2016  ...                              NaN
13118  7582-2014  ...                              NaN
13119  7801-2016  ...                              NaN
13123  7901-2015  ...                              NaN
13124  7937-2015  ...                              NaN
13126  8140-2016  ...                              NaN
13128  8244-8750  ...                              NaN
13129  8247-2016  ...                              NaN
13131  8455-2015  ...                              NaN
13132  8487-6366  ...                              NaN
13133  8555-2016  ...                              NaN
13136  9001-2008  ...                              NaN
13138  9134-2016  ...                              NaN
13139  9138-2015  ...                              NaN
13140  9341-2016  ...                              NaN
13141  9377-2016  ...                              NaN
13143  9521-5978  ...                              NaN
13144  9680-5667  ...                              NaN
13145  9681-2016  ...                              NaN
13147  9826-4263  ...                              NaN
13148  9933-2016  ...                              NaN

[1133 rows x 6 columns]

In [0]:
#We don't want to do anything about the nulls just yet. However, they are being counted towards our duplicate values.
#To work around this, we can do a groupby and size on our duplicated columns and add an occurrence count column.


#Let's make it a new dataframe for better access
jour_pub_url_group = df.groupby(['journal_name','pub_name','url']).size().reset_index().\
                    rename(columns={0:'occurrence_count'})

In [0]:
# Lets see how many values are duplicated across journal_name,pub_name and url


jour_pub_url_group[jour_pub_url_group['occurrence_count']>1]

                         journal_name  ... occurrence_count
749  Biodiversity and Natural History  ...                2

[1 rows x 4 columns]

In [0]:
#Now let's see how many values are duplicated in the entire dataset

dupe_check_all_df= df.groupby(df.columns.tolist()).size().reset_index().\
                       rename(columns={0:'occurrence_count'})

In [0]:
# To get the total number of dupes, we can subtract the shape of our data from the occurence count total

dupe_check_all_df['occurrence_count'].sum() - dupe_check_all_df.shape[0]

0

There is a duplicate value in the journal_name, pub_name, and url columns. However, I am in no way  a subject matter expert in academic journals, so  I don't want to assume that this means that the data is inherently wrong. 
Since the issn column can be considered a unique identifier and does not contain duplicates, I believe the right move is to continue working with the data as is and consult the owners of the dataset later for clarification.

## 1.c:  Standardization and String Matching

In [0]:
# From what we've already seen of the data, we can recognize that character case is inconsistent in pub_name and category columns
# This can be quickly fixed by converting all columns with object datatypes to lowercase

df = df.apply(lambda x: x.str.lower() if(x.dtype == 'object') else x)

df.head(2)

        issn              journal_name  ...                    category  url
0  0001-527x  acta biochimica polonica  ...  molecular and cell biology  NaN
1  0002-0397           africa spectrum  ...                         NaN  NaN

[2 rows x 6 columns]

In [0]:
#We can alse apply the same string functions to individual columns...


df['journal_name'] = df['journal_name'].str.title() # Let's make journal_name title case
                                                    # Careful with this one,it doesn't discriminate and will capitalize articles and prepositions

df['issn']= df['issn'].str.upper() #And lets make issn uppercase 

df.head()

        issn  ...  url
0  0001-527X  ...  NaN
1  0002-0397  ...  NaN
2  0003-0090  ...  NaN
3  0003-5521  ...  NaN
4  0004-1254  ...  NaN

[5 rows x 6 columns]

In [0]:
 df['category'].unique()

# Looking at the unique values of the category column we can see that we still have some problems with inconsistent delimiter use
# We want to standardize the data and make it more consistent

array(['molecular and cell biology', nan, 'ecology and evolution',
       'anthropology', 'robotics', 'physics and chemistry', 'psychology',
       'medicine', 'neuroscience', 'veterinary', 'economics', 'law',
       'gastroenterology', 'plant biology', 'orthopedics', 'agriculture',
       'linguistics', 'history and philosophy of science', 'mathematics',
       'oncology', 'sports medicine', 'food science', 'psychiatry',
       'science', 'radiology', 'urology', 'environmental health',
       'social sciences', 'ophthalmology', 'marketing',
       'astronomy and astrophysics', 'operations research',
       'infectious diseases', 'literary studies', 'plastic surgery',
       'energy', 'structural engineering',
       'philosophy. psychology. religion', 'fine arts',
       'music and books on music', 'history america',
       'geography. anthropology. recreation', 'political science',
       'language and literature', 'technology', 'education',
       'general works', 'history (general) and history of europe',
       'technology | law', 'history america | social sciences',
       'auxiliary sciences of history',
       'political science | social sciences', 'computer science',
       'information & library sciences',
       'library and information science', 'education | technology',
       'medicine | science', 'circuits', 'information science',
       'geotechnology', 'sociology', 'nephrology', 'dentistry',
       'rheumatology', 'pharmacology', 'agriculture | science',
       'medicine | social sciences',
       'fine arts | geography. anthropology. recreation', 'informatics',
       'communication & media studies', 'education | science',
       'military science', 'technology | social sciences',
       'law | social sciences', 'naval science', 'technology | science',
       'agriculture | technology', 'law | political science',
       'languages & linguistics',
       'geography. anthropology. recreation | science',
       'philosophy. psychology. religion | social sciences',
       'wood products', 'fine arts | language and literature',
       'technology | language and literature', 'fine arts | science',
       'literature', 'policy and law',
       'education | political science | social sciences',
       'agriculture | medicine', 'business & management',
       'medicine | philosophy. psychology. religion',
       'education | social sciences',
       'education | language and literature', 'law | medicine',
       'general science & technology', 'nursing',
       'language and literature | social sciences',
       'agriculture | geography. anthropology. recreation',
       'scholarly publishing', 'agriculture | technology | science',
       'technology | medicine', 'technology | medicine | science',
       'philosophy. psychology. religion | science',
       'education | philosophy. psychology. religion',
       'technology | philosophy. psychology. religion',
       'education | medicine', 'scientific equipment', 'dynamics',
       'education | geography. anthropology. recreation',
       'arts & humanities', 'architecture',
       'military science | political science', 'arts and humanities'],
      dtype=object)

In [0]:
# Lets replace 'and' with '&'
df['category'].replace(to_replace='and', value='&', regex=True,inplace=True)

In [0]:
# Now back to those pesky delimiters ...

# Overall, there are 12 metacharacters you should look out for  . ^ $ * + ? { } [ ] \ | ( )
#Both the pipe(|) and period(.) are considered metacharacters because they have special meaning.
 
# Regular expressions use the backslash character ('\') to indicate special forms or to allow special characters to be used without invoking their meaning. 

# This conflicts with Python’s usage of the same character for the same purpose in string literals and can become a pain when backslash
# proliferation makes things unreadable

print('ESCAPING WITH BACKSLASHES\n')
print('ROW CONTAINS PIPE \n', df['category'].str.contains('\\|').sum())
print('ROW CONTAINS PERIOD \n', df['category'].str.contains('\\.').sum())
print('ROW CONTAINS BACKSLASH \n', df['category'].str.contains('\\\\').sum()) #This is when the backslashes really scale up
print('ROW CONTAINS OPEN PARENTHESIS \n', df['category'].str.contains('\\(').sum())
print('ROW CONTAINS CLOSE PARENTHESIS \n', df['category'].str.contains('\\)').sum())

ESCAPING WITH BACKSLASHES

ROW CONTAINS PIPE
 102
ROW CONTAINS PERIOD
 595
ROW CONTAINS BACKSLASH
 0
ROW CONTAINS OPEN PARENTHESIS
 128
ROW CONTAINS CLOSE PARENTHESIS
 128

In [0]:
# A cleaner solution for this is to use raw string notation in addition to a backslash by adding an r outside of the quoted expression.
print('ESCAPING WITH RAW STRING NOTATION \n')
print('ROW CONTAINS PIPE \n', df['category'].str.contains(r'\|').sum())
print('ROW CONTAINS PERIOD \n', df['category'].str.contains(r'\.').sum())
print('ROW CONTAINS BACKSLASH \n', df['category'].str.contains(r'\\').sum())
print('ROW CONTAINS OPEN PARENTHESIS \n', df['category'].str.contains(r'\(').sum())
print('ROW CONTAINS CLOSE PARENTHESIS \n', df['category'].str.contains(r'\)').sum())

ESCAPING WITH RAW STRING NOTATION

ROW CONTAINS PIPE
 102
ROW CONTAINS PERIOD
 595
ROW CONTAINS BACKSLASH
 0
ROW CONTAINS OPEN PARENTHESIS
 128
ROW CONTAINS CLOSE PARENTHESIS
 128

In [0]:
#Intuitively, we can see that parenthesis are being used differently than pipes in the context of this dataset. 
#Because of this, we will leave them out of the special chars replacement.


special_chars=r'\.|\^|\$|\*|\+|\?|\{|\}|\[|\]|\\|\|' # Note that with the backslash, we're searching for the literal | character 
                                                     # Without the backslash we're using | as an OR statement

  
len(df[df['category'].str.contains(special_chars,na=False,regex=True)])

684

In [0]:
#Lets replace the special characters with an underscore.

df['category'].replace(to_replace=special_chars, value='_', regex=True, inplace=True)

In [0]:
df.category

0        molecular & cell biology
1                             NaN
2             ecology & evolution
3                    anthropology
4                             NaN
5                             NaN
6                        robotics
7                             NaN
8                             NaN
9             physics & chemistry
10                     psychology
11                            NaN
12                       medicine
13                   neuroscience
14                            NaN
15                     veterinary
16            physics & chemistry
17                       medicine
18                            NaN
19                       medicine
20                            NaN
21                      economics
22                            NaN
23                            NaN
24                            law
25                            NaN
26                            NaN
27               gastroenterology
28                            NaN
29                  plant biology
                   ...
13119                         NaN
13120                         NaN
13121                         NaN
13122                         NaN
13123                         NaN
13124                         NaN
13125                         NaN
13126                         NaN
13127                         NaN
13128                         NaN
13129                         NaN
13130                         NaN
13131                         NaN
13132                         NaN
13133                         NaN
13134                         NaN
13135                    medicine
13136                         NaN
13137                         NaN
13138                         NaN
13139                         NaN
13140                         NaN
13141                         NaN
13142                         NaN
13143                         NaN
13144                         NaN
13145                         NaN
13146                         NaN
13147                         NaN
13148                         NaN
Name: category, Length: 13149, dtype: object

In [0]:
#Now lets clean up the whitespace before and after the underscore

df['category']=df['category'].replace('_ ', '_',regex=True).replace(' _','_',regex=True)

In [0]:
df['category'].unique()

array(['molecular & cell biology', nan, 'ecology & evolution',
       'anthropology', 'robotics', 'physics & chemistry', 'psychology',
       'medicine', 'neuroscience', 'veterinary', 'economics', 'law',
       'gastroenterology', 'plant biology', 'orthopedics', 'agriculture',
       'linguistics', 'history & philosophy of science', 'mathematics',
       'oncology', 'sports medicine', 'food science', 'psychiatry',
       'science', 'radiology', 'urology', 'environmental health',
       'social sciences', 'ophthalmology', 'marketing',
       'astronomy & astrophysics', 'operations research',
       'infectious diseases', 'literary studies', 'plastic surgery',
       'energy', 'structural engineering',
       'philosophy_psychology_religion', 'fine arts',
       'music & books on music', 'history america',
       'geography_anthropology_recreation', 'political science',
       'language & literature', 'technology', 'education',
       'general works', 'history (general) & history of europe',
       'technology_law', 'history america_social sciences',
       'auxiliary sciences of history',
       'political science_social sciences', 'computer science',
       'information & library sciences', 'library & information science',
       'education_technology', 'medicine_science', 'circuits',
       'information science', 'geotechnology', 'sociology', 'nephrology',
       'dentistry', 'rheumatology', 'pharmacology', 'agriculture_science',
       'medicine_social sciences',
       'fine arts_geography_anthropology_recreation', 'informatics',
       'communication & media studies', 'education_science',
       'military science', 'technology_social sciences',
       'law_social sciences', 'naval science', 'technology_science',
       'agriculture_technology', 'law_political science',
       'languages & linguistics',
       'geography_anthropology_recreation_science',
       'philosophy_psychology_religion_social sciences', 'wood products',
       'fine arts_language & literature',
       'technology_language & literature', 'fine arts_science',
       'literature', 'policy & law',
       'education_political science_social sciences',
       'agriculture_medicine', 'business & management',
       'medicine_philosophy_psychology_religion',
       'education_social sciences', 'education_language & literature',
       'law_medicine', 'general science & technology', 'nursing',
       'language & literature_social sciences',
       'agriculture_geography_anthropology_recreation',
       'scholarly publishing', 'agriculture_technology_science',
       'technology_medicine', 'technology_medicine_science',
       'philosophy_psychology_religion_science',
       'education_philosophy_psychology_religion',
       'technology_philosophy_psychology_religion', 'education_medicine',
       'scientific equipment', 'dynamics',
       'education_geography_anthropology_recreation', 'arts & humanities',
       'architecture', 'military science_political science'], dtype=object)

# Part 2: Handling Missing Data

## 2.1 On Missingness 

Resource: http://www.stat.columbia.edu/~gelman/arm/missing.pdf


1. **Missingness completely at random (MCAR)**. A variable is missing completely at random if the probability of missingness is the same for all units, for example, if each survey respondent decides whether to answer the “earnings” question by rolling a die and refusing to answer if a “6” shows up. If data are missing completely at
random, then throwing out cases with missing data does not bias your inferences.

2. **Missingness at random (MAR)**. Missing at random means that the propensity for a data point to be missing is not related to the missing data, but it is related to some of the observed data.
Most missingness is not completely at random, as can be seen from the data themselves. A more general assumption, missing at random, is that the probability a variable
is missing depends only on available information. Thus, if sex, race, education, and age are recorded for all the people in the survey, then “earnings” is missing at random if the probability of nonresponse to this question depends only on these other, fully recorded variables. It is often reasonable to model this process as a logistic regression, where the outcome variable equals 1 for observed cases
and 0 for missing. When an outcome variable is missing at random, it is acceptable to exclude the missing cases (that is, to treat them as NA’s), as long as the regression controls for all the variables that affect the probability of missingness. Thus, any model
for earnings would have to include predictors for ethnicity, to avoid nonresponse bias. This missing-at-random assumption (a more formal version of which is sometimes called the ignorability assumption) in the missing-data framework is the basically same sort of assumption as ignorability in the causal framework. Both require that sufficient information has been collected that we can “ignore” the
assignment mechanism (assignment to treatment, assignment to nonresponse).
3. **Missingness not at random (MNAR)**: 
. Missingness is no longer “at random” if it depends on information that has not been recorded and this information also predicts the missing values. For example, suppose that “surly”
people are less likely to respond to the earnings question, surliness is predictive
of earnings, and “surliness” is unobserved. Or, suppose that people with college
degrees are less likely to reveal their earnings, having a college degree is predictive of earnings, and there is also some nonresponse to the education question.
Then, once again, earnings are not missing at random. If missingness is not at random, it must be explicitly modeled, or else you must
accept some bias in your inferences. There are two types:

*   **Missingness that depends on unobserved predictors**. A familiar example from medical studies is that if a particular treatment causes
discomfort, a patient is more likely to drop out of the study. This missingness is
not at random (unless “discomfort” is measured and observed for all patients).
*   **Missingness that depends on the missing value itself**. Finally, a particularly difficult situation arises when the probability of missingness depends on the (potentially missing) variable itself. For example, suppose that people with higher earnings are less likely to reveal them. In the extreme case (for example, all persons earning more than $100,000 refuse to respond), this is called censoring, but
even the probabilistic case causes difficulty.

In the first two cases, it is safe to remove the data with missing values depending upon their occurrences. 

In the third case (MNAR), removing observations with missing values can produce a bias in the model. 

So we have to be really careful before removing observations.

##2.2 Choices, Choices

There are 3 choices for missing data:

**1.   Imputation: Fill in the missing data**
*   User provided data
*   Summary statistic (Be careful here: mean, median, mode, etc. Use median if you have outliers)
*   Modeled or imputed data
*   Data present in dataset

**2. Deletion: Drop rows or columns with missing data**
*   Drop all 
*   Drop some, based on conditions or a threshold

**3. Leave it as is**

**When should one fill in data, drop data, or leave it alone? **

It depends. . . .

![Handling Missing Data](https://cdn-images-1.medium.com/max/1600/1*_RA3mCS30Pr0vUxbp25Yxw.png)

##  2.3 Let's Get to Work

### 2.3.1 Data Quality Check
Let's check out our data

In [0]:
#Check out the dataset
df.head()

        issn  ...  url
0  0001-527X  ...  NaN
1  0002-0397  ...  NaN
2  0003-0090  ...  NaN
3  0003-5521  ...  NaN
4  0004-1254  ...  NaN

[5 rows x 6 columns]

## 2.4 Assessing Missingness

How much missingness is there?

In [0]:
#Check out the column types
df.dtypes

issn            object
journal_name    object
pub_name        object
is_hybrid        int64
category        object
url             object
dtype: object

In [0]:
# Let's find out which columns have missing data
missing_columns = list(df.columns[df.isnull().any()])
missing_columns

['pub_name', 'category', 'url']

In [0]:
#Let's find out how many missing values are in each column

for col in missing_columns:
    num_missing = df[df[col].isnull() == True].shape[0]
    print('number missing for column {}: {}'.format(col, 
                                                    num_missing))

number missing for column pub_name: 1470
number missing for column category: 6331
number missing for column url: 6788

In [0]:
#Percentage of missingness per column
for col in missing_columns:
    percent_missing = df[df[col].isnull() == True].shape[0]  / df.shape[0] * 100
    print('percent missing for column {}: {}%'.format(
        col, percent_missing))

percent missing for column pub_name: 11.179557380789413%
percent missing for column category: 48.148148148148145%
percent missing for column url: 51.62369761959085%

## 2.5 DELETION
If you have a "small" amount of data missing:


1.   **Listwise deletion**: remove ALL data for an observation that has at least 1 missing value. 
> *Problem: Meeting MCAR assumptions are rare; as a result most of time you'll produce biased parameters and estimates*


2.   **Pairwise deletion**: Keep all data that isn't missing. Even though it increases the power of your analysis, you'll end up with different numbers of observations contributing to different parts of your model. This makes interpretation very difficult.

2.   **Deleting Columns**: Keep all data that isn't missing. Even though it increases the power of your analysis, you'll end up with different numbers of observations contributing to different parts of your model. This makes interpretation very difficult.



### 2.5.1 Remove Null Values Upon Reading in Data

In [0]:
#Call na_values to remove n/a values
# Making a list of missing value types
# Read in data using Pandas and quickly ELIMINATE missing values based on list of missing value types
missing_values = ["n/a", "na", "--"]
df = pd.read_csv(url, na_values = missing_values)
df.head(10)

   Unnamed: 0                         journal_name  ... proj_ai  proj_ai_year
0           0                          3d research  ...   0.290          2015
1           1                    aaps pharmscitech  ...   0.665          2015
2           2        abstract and applied analysis  ...   0.192          2015
3           3                  academic psychiatry  ...   0.208          2015
4           4                   academic questions  ...   0.097          2015
5           5  accreditation and quality assurance  ...   0.134          2015
6           6                  acoustics australia  ...   0.234          2015
7           7                         acrocephalus  ...   0.098          2015
8           8                       acta adriatica  ...   0.131          2015
9           9          acta agriculturae slovenica  ...   0.125          2015

[10 rows x 8 columns]

In [0]:
df.shape

(3615, 8)

## 2.6 What to do with NaNs?


If you need to fill in errors or blanks, use the ```fillna()``` and ```dropna()``` methods. 

It seems quick, but all manipulations of the data should be documented so you can explain them to someone at a later time.

You could fill the NaNs with strings, or if they are numbers you could use the mean or the median value. There is a lot of debate on what do with missing or malformed data, and the correct answer is … it depends.

You’ll have to use your best judgement and input from the people you’re working with on why removing or filling the data is the best approach.

In [0]:
#Now we see that 6788 values are filled in with 0
df.url.value_counts()

AttributeError: ignored

### 2.6.1 Filling in Data

In [0]:
# First, find the value counts of the URL column
df.url.value_counts()

https://www.springer.com/us/open-access/springer-open-choice                     14
https://www.hindawi.com/journals/acp/                                             3
http://www.degruyter.com/view/j/plua                                              2
http://www.ddtjournal.org/                                                        2
http://www.biogeosciences.net                                                     2
http://www.springer.com/us/open-access/springer-open-choice                       2
https://www.hindawi.com/journals/jqre/                                            2
http://epress.lib.uts.edu.au/journals/index.php/AJCEB                             2
http://www.kmuj.kmu.edu.pk/index                                                  2
http://newvoices.org.au/                                                          2
http://www.collabra.org                                                           2
http://www.egms.de/dynamic/en/journals/zma/index.htm                              2
http://www.biodiversnathist.com                                                   2
http://efsupit.ro/                                                                2
https://www.hindawi.com/journals/jcnc/                                            2
http://www.lawcrimehistory.org/journal.htm                                        2
http://www.scoliosisjournal.com/                                                  2
http://www.ocl-journal.org/                                                       2
https://www.hindawi.com/journals/jchem/                                           2
http://www2.um.edu.uy/ingenieria/revista/                                         2
http://gymnica.upol.cz                                                            2
http://journalmedica.com                                                          1
http://www.jbmethods.org                                                          1
http://www.degruyter.com/view/j/aoter                                             1
http://www.socpvs.org/wbp/index.php/wbp                                           1
http://www.degruyter.com/view/j/bimo                                              1
http://digitalcommons.cedarville.edu/musicalofferings                             1
http://dergipark.ulakbim.gov.tr/ktd/                                              1
https://revistas.uam.es/riejs                                                     1
https://www.metodista.br/revistas/revistas-unimep/index.php/comunicacao/index     1
                                                                                 ..
http://journal.uny.ac.id/index.php/hsjpi                                          1
http://siba-ese.unisalento.it/index.php/psychofenia                               1
http://www.revistas.unal.edu.co/index.php/actabiol                                1
http://ateliers.revues.org/                                                       1
https://sites.google.com/site/1rvcta                                              1
http://onlinelibrary.wiley.com/journal/10.1002/(ISSN)2052-4412                    1
https://www.hindawi.com/journals/an/                                              1
http://www.barnboken.net                                                          1
http://commons.erau.edu/jaaer/                                                    1
http://jurnal.ugm.ac.id/buletinpsikologi                                          1
http://rps.mui.ac.ir/index.php/jrps                                               1
http://kmhj.ukma.edu.ua/                                                          1
http://www.biologie.uvt.ro/annals.html                                            1
http://www.e-enm.org/                                                             1
http://demesci.hipatiapress.com                                                   1
http://www.gw-unterricht.at                                                       1
http://ijqr.net/                                                                  1
http://www.ajts.org/                                                              1
http://scialert.net/jindex.php?issn=1811-9778                                     1
http://history-pages.kpi.ua/                                                      1
http://www.apospublications.com                                                   1
https://www.hindawi.com/journals/ijg/                                             1
http://www.geologia-croatica.hr/index.html                                        1
http://epress.lib.uts.edu.au/ojs/index.php/portal                                 1
http://revistas.uis.edu.co/index.php/revistaion/index                             1
http://www.degruyter.com/view/j/hacq                                              1
http://palabraclave.unisabana.edu.co/index.php/palabraclave/index                 1
http://jurnal.balithutmakassar.org/index.php/wallacea/index                       1
https://www.hindawi.com/journals/art/                                             1
http://www.journals.elsevier.com/the-saudi-dental-journal/                        1
Name: url, Length: 6327, dtype: int64

In [0]:
# The top missing values in the URL column
df.url.value_counts().head()

https://www.springer.com/us/open-access/springer-open-choice    14
https://www.hindawi.com/journals/acp/                            3
http://www.degruyter.com/view/j/plua                             2
http://www.ddtjournal.org/                                       2
http://www.biogeosciences.net                                    2
Name: url, dtype: int64

In [0]:
# Fill in missing data using the .fillna method
# Let's fill in missing values with 0
df.url = df.url.fillna(0)

# Fill NaN with ' '
#df['url'] = df['url'].fillna(' ')

# Fill NaN with 999
#df['url'] = df['url'].fillna(999)

# Fill NaN with the mean of the column -- for numeric columns only!!
#df['url'] = df['url'].fillna(df['url'].mean())

You can also propagate non-null values forward or backwards by using ```method=’pad’``` as the method argument. 


It will fill the next value in the dataframe with the previous non-NaN value. 

When you want to fill one value, use ```limit=1```.

If you don't set a limit, you'll fill in the entire dataframe 

Let's create a dataframe to demo forward fill and backfilll:

In [0]:
missing_df = pd.DataFrame(data={'col1':[np.nan, np.nan, 23,3,14,5,13, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan, np.nan]})
missing_df

    col1
0    NaN
1    NaN
2   23.0
3    3.0
4   14.0
5    5.0
6   13.0
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN

In [0]:
missing_df.fillna(method='pad', limit=1)
# See that index 7 is filled in with index 6's value

NameError: ignored

In [0]:
# If you don't set a limit, you'll fill in the rest of the entire dataframe 
missing_df.fillna(method='pad')

NameError: ignored

#### 2.6.2 Backfilling

We are not limited to forward filling. We can  also backfill with bfill.

In [0]:
#The first two values are NaN's. Let's backfill them
missing_df

    col1
0    NaN
1    NaN
2   23.0
3    3.0
4   14.0
5    5.0
6   13.0
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN

In [0]:
# Fill the first two NaN values with the first available value
missing_df.fillna(method='bfill')

    col1
0   23.0
1   23.0
2   23.0
3    3.0
4   14.0
5    5.0
6   13.0
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN

##2.7 Dropping Missing Data

Use the ```dropna``` method to drop rows or columns with NaNs.

In [0]:
# Drop any rows which have any nans
missing_df.dropna()

   col1
2  23.0
3   3.0
4  14.0
5   5.0
6  13.0

In [0]:
# Drop columns that have any nans
missing_df.dropna(axis=1)

Empty DataFrame
Columns: []
Index: [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

###2.7.1 NaNs thresholding
The parameter thresh=N requires that a column has at least N non-NaNs to survive. Think of this as the lower limit for missing data you will find acceptable in your columns.

In [0]:
#Use a threshold to drop NaNs
# Only drop columns which have at least 20% non-NaNs
missing_df.dropna(thresh=int(missing_df.shape[0] * .20), axis=1)

    col1
0    NaN
1    NaN
2   23.0
3    3.0
4   14.0
5    5.0
6   13.0
7    NaN
8    NaN
9    NaN
10   NaN
11   NaN
12   NaN
13   NaN
14   NaN

## 2.8 IMPUTATION

###2.8.1 SIMPLE IMPUTATION

Replace missing values, encoded as ```np.nan```, using the mean value of the columns (axis 0) that contain the missing values.

Missing values can be imputed with a provided constant value, or using the statistics (mean, median or most frequent) of each column in which the missing values are located.

####2.8.1.1 For Numeric NaNs

In [0]:
#NUMERIC NaNs
#Impute with the mean
#This will look for all columns where we have NaN value and replace the NaN value with specified test statistic.

from sklearn.impute import SimpleImputer
imputed_data = SimpleImputer(missing_values=np.nan, strategy='mean')
#Change strategy to 'median', and for the mode: 'most_frequent' 

imputed_data.fit(missing_df) #use .fit

missing_df = pd.DataFrame(imputed_data.transform(missing_df)) #use.transform
missing_df

       0
0   11.6
1   11.6
2   23.0
3    3.0
4   14.0
5    5.0
6   13.0
7   11.6
8   11.6
9   11.6
10  11.6
11  11.6
12  11.6
13  11.6
14  11.6

In [0]:
#Let's look at the parameters of the SimpleImputer
imputed_data

SimpleImputer(add_indicator=False, copy=True, fill_value=None,
              missing_values=nan, strategy='mean', verbose=0)

####2.8.1.2 For Categorical or *String* Data

The SimpleImputer class also supports categorical data represented as string values or pandas categoricals when using the 'most_frequent' or 'constant' strategy.

In [0]:
#Let's create a dataframe with categorical or string data
categorical_df = pd.DataFrame([["a", "x"],
                               [np.nan, "y"],
                               ["a", np.nan],
                               ["b", "y"]], dtype="category")

#Let's take a look at this new dataframe
categorical_df

#the most frequent value in each column is 'a' and the 'y'

     0    1
0    a    x
1  NaN    y
2    a  NaN
3    b    y

In [0]:
#Replacing the NaNs with the most frequent observation
cat_imp = SimpleImputer(strategy="most_frequent")
print(cat_imp.fit_transform(categorical_df))

[['a' 'x']
 ['a' 'y']
 ['a' 'y']
 ['b' 'y']]

In [0]:

cat_imp

SimpleImputer(add_indicator=False, copy=True, fill_value=None,
              missing_values=nan, strategy='most_frequent', verbose=0)

## 2.9 Now Let's Get Fancy: FancyImpute

####2.9.1 Imputation Algorithms

**SimpleFill**: Replaces missing entries with the mean or median of each column.

**KNN**: Nearest neighbor imputations which weights samples using the mean squared difference on features for which two rows both have observed data.

**IterativeImputer**: A strategy for imputing missing values by modeling each feature with missing values as a function of other features in a round-robin fashion.

**SoftImpute**: Matrix completion by iterative soft thresholding of SVD decompositions. Inspired by the softImpute package for R, which is based on Spectral Regularization Algorithms for Learning Large Incomplete Matrices by Mazumder et. al.


**MatrixFactorization**: Direct factorization of the incomplete matrix into low-rank U and V, with an L1 sparsity penalty on the elements of U and an L2 penalty on the elements of V. Solved by gradient descent.

**NuclearNormMinimization**: Simple implementation of Exact Matrix Completion via Convex Optimization by Emmanuel Candes and Benjamin Recht using cvxpy. Too slow for large matrices.

**BiScaler**: Iterative estimation of row/column means and standard deviations to get doubly normalized matrix. Not guaranteed to converge but works well in practice. Taken from Matrix Completion and Low-Rank SVD via Fast Alternating Least Squares.

### Implementing Multiple Imputation
We are using the metric -- Mean Square Error.

Let's run all the imputation algorithms to see which one gives us the lowest error. The goal is to have an MSE of zero.

In [0]:
#Let's run all the imputation algorithms and see which ones give us the lowest error

import numpy as np
from fancyimpute import (
    BiScaler,
    KNN,
    IterativeImputer,
    NuclearNormMinimization,
    SoftImpute,
    SimpleFill)

n = 200
m = 20
inner_rank = 4
X = np.dot(np.random.randn(n, inner_rank), np.random.randn(inner_rank, m))
print("Mean squared element: %0.4f" % (X ** 2).mean())

# X is a data matrix which we're going to randomly drop entries from
missing_mask = np.random.rand(*X.shape) < 0.1
X_incomplete = X.copy()
# missing entries indicated with NaN
X_incomplete[missing_mask] = np.nan

meanFill = SimpleFill("mean")
X_filled_mean = meanFill.fit_transform(X_incomplete)

# Model each feature with missing values as a function of other features, and
# use that estimate for imputation.
X_filled_ii = IterativeImputer().fit_transform(X_incomplete)

# Use 3 nearest rows which have a feature to fill in each row's missing features
knnImpute = KNN(k=3)
X_filled_knn = knnImpute.fit_transform(X_incomplete)

# matrix completion using convex optimization to find low-rank solution
# that still matches observed values. Slow!
X_filled_nnm = NuclearNormMinimization().fit_transform(X_incomplete)

# Instead of solving the nuclear norm objective directly, instead
# induce sparsity using singular value thresholding
softImpute = SoftImpute()

# simultaneously normalizes the rows and columns of your observed data,
# sometimes useful for low-rank imputation methods
biscaler = BiScaler()

# rescale both rows and columns to have zero mean and unit variance
X_incomplete_normalized = biscaler.fit_transform(X_incomplete)

X_filled_softimpute_normalized = softImpute.fit_transform(X_incomplete_normalized)
X_filled_softimpute = biscaler.inverse_transform(X_filled_softimpute_normalized)

X_filled_softimpute_no_biscale = softImpute.fit_transform(X_incomplete)

meanfill_mse = ((X_filled_mean[missing_mask] - X[missing_mask]) ** 2).mean()
print("meanFill MSE: %f" % meanfill_mse)

# print mean squared error for the four imputation methods above
# print mean squared error for the three imputation methods above
ii_mse = ((X_filled_ii[missing_mask] - X[missing_mask]) ** 2).mean()
print("Iterative Imputer norm minimization MSE: %f" % ii_mse)

nnm_mse = ((X_filled_nnm[missing_mask] - X[missing_mask]) ** 2).mean()
print("Nuclear norm minimization MSE: %f" % nnm_mse)

softImpute_mse = ((X_filled_softimpute[missing_mask] - X[missing_mask]) ** 2).mean()
print("SoftImpute MSE: %f" % softImpute_mse)

softImpute_no_biscale_mse = (
    (X_filled_softimpute_no_biscale[missing_mask] - X[missing_mask]) ** 2).mean()
print("SoftImpute without BiScale MSE: %f" % softImpute_no_biscale_mse)


knn_mse = ((X_filled_knn[missing_mask] - X[missing_mask]) ** 2).mean()
print("knnImpute MSE: %f" % knn_mse)

Mean squared element: 4.4201
Imputing row 1/200 with 1 missing, elapsed time: 0.012
Imputing row 101/200 with 0 missing, elapsed time: 0.018
----------------------------------------------------------------------------
	SCS v2.1.0 - Splitting Conic Solver
	(c) Brendan O'Donoghue, Stanford University, 2012
----------------------------------------------------------------------------
Lin-sys: sparse-direct, nnz in A = 51532
eps = 1.00e-05, alpha = 1.50, max_iters = 50000, normalize = 1, scale = 1.00
acceleration_lookback = 10, rho_x = 1.00e-03
Variables n = 32310, constraints m = 40310
Cones:	primal zero / dual free vars: 4000
	linear vars: 12000
	sd vars: 24310, sd blks: 1
Setup time: 7.11e-02s
----------------------------------------------------------------------------
 Iter | pri res | dua res | rel gap | pri obj | dua obj | kap/tau | time (s)
----------------------------------------------------------------------------
     0| 2.25e+21  2.08e+21  1.00e+00 -2.13e+24  4.35e+23  7.23e+23  4.12e-02
   100| 3.73e-04  4.40e-04  1.07e-05  2.53e+02  2.53e+02  7.39e-14  4.02e+00
   200| 2.33e-04  2.65e-04  1.24e-05  2.53e+02  2.53e+02  1.70e-13  8.00e+00
   300| 2.19e-04  4.34e-04  1.27e-05  2.53e+02  2.53e+02  8.01e-15  1.19e+01
   400| 4.58e-04  4.99e-04  3.80e-06  2.53e+02  2.53e+02  1.19e-14  1.58e+01
   500| 5.29e-05  4.33e-05  3.49e-05  2.53e+02  2.53e+02  8.75e-14  1.98e+01
   600| 4.04e-02  4.55e-02  1.50e-02  2.53e+02  2.45e+02  1.03e-13  2.37e+01
   700| 4.24e-04  6.40e-04  1.12e-04  2.53e+02  2.53e+02  5.50e-14  2.77e+01
   800| 2.77e-04  2.73e-04  1.23e-04  2.53e+02  2.53e+02  4.26e-14  3.16e+01
   900| 6.24e+20  4.79e+20  1.96e-03 -6.78e+22 -6.81e+22  3.13e+23  3.54e+01
  1000| 8.13e-05  1.08e-04  3.22e-05  2.53e+02  2.53e+02  6.11e-14  3.94e+01
  1100| 9.74e-05  1.48e-04  8.14e-05  2.53e+02  2.53e+02  3.22e-14  4.33e+01
  1200| 5.41e-04  7.74e-04  2.32e-05  2.53e+02  2.53e+02  3.21e-14  4.72e+01
  1300| 1.52e-04  2.17e-04  1.25e-04  2.53e+02  2.53e+02  5.26e-14  5.11e+01
  1400| 2.73e-03  4.35e-03  1.70e-03  2.53e+02  2.52e+02  6.31e-14  5.50e+01
  1500| 2.98e-03  4.83e-03  2.27e-03  2.53e+02  2.52e+02  6.88e-14  5.88e+01
  1600| 1.72e-04  2.45e-04  5.78e-05  2.53e+02  2.53e+02  9.62e-14  6.27e+01
  1700| 1.01e-04  1.52e-04  3.10e-05  2.53e+02  2.53e+02  8.39e-14  6.65e+01
  1800| 1.24e-03  1.96e-03  8.73e-04  2.53e+02  2.52e+02  4.30e-14  7.04e+01
  1900| 4.84e-05  7.53e-05  1.26e-05  2.53e+02  2.53e+02  1.49e-14  7.42e+01
  2000| 5.07e-05  7.64e-05  1.70e-05  2.53e+02  2.53e+02  1.22e-14  7.80e+01
  2100| 6.29e-05  9.86e-05  1.94e-05  2.53e+02  2.53e+02  2.51e-14  8.19e+01
  2200| 7.05e-05  9.76e-05  1.51e-05  2.53e+02  2.53e+02  9.78e-14  8.57e+01
  2300| 3.25e-05  4.13e-05  7.41e-09  2.53e+02  2.53e+02  3.31e-14  8.96e+01
  2400| 9.77e-05  1.50e-04  1.82e-05  2.53e+02  2.53e+02  4.80e-14  9.34e+01
  2500| 7.95e-05  1.12e-04  2.27e-05  2.53e+02  2.53e+02  1.16e-14  9.72e+01
  2600| 1.32e-05  1.78e-05  5.14e-07  2.53e+02  2.53e+02  6.90e-14  1.01e+02
  2700| 2.27e-05  2.71e-05  1.45e-05  2.53e+02  2.53e+02  1.22e-13  1.05e+02
  2800| 1.56e-05  1.98e-05  1.04e-05  2.53e+02  2.53e+02  9.76e-15  1.09e+02
  2900| 2.15e-05  3.14e-05  2.72e-05  2.53e+02  2.53e+02  3.89e-14  1.13e+02
  3000| 1.57e-05  1.93e-05  7.53e-06  2.53e+02  2.53e+02  6.25e-14  1.16e+02
  3100| 2.06e-05  2.14e-05  9.34e-06  2.53e+02  2.53e+02  2.43e-15  1.20e+02
  3180| 8.66e-06  7.91e-06  4.37e-06  2.53e+02  2.53e+02  7.64e-14  1.23e+02
----------------------------------------------------------------------------
Status: Solved
Timing: Solve time: 1.23e+02s
	Lin-sys: nnz in L factor: 127763, avg solve time: 1.11e-03s
	Cones: avg projection time: 2.45e-02s
	Acceleration: avg step time: 1.10e-02s
----------------------------------------------------------------------------
Error metrics:
dist(s, K) = 1.7659e-09, dist(y, K*) = 1.8476e-09, s'y/|s||y| = -5.6933e-13
primal res: |Ax + s - b|_2 / (1 + |b|_2) = 8.6606e-06
dual res:   |A'y + c|_2 / (1 + |c|_2) = 7.9144e-06
rel gap:    |c'x + b'y| / (1 + |c'x| + |b'y|) = 4.3702e-06
----------------------------------------------------------------------------
c'x = 252.9263, -b'y = 252.9286
============================================================================
[BiScaler] Initial log residual value = 6.224517
[BiScaler] Iter 1: log residual = 1.005431, log improvement ratio=5.219086
[BiScaler] Iter 2: log residual = -0.819173, log improvement ratio=1.824604
[BiScaler] Iter 3: log residual = -2.580621, log improvement ratio=1.761448
[BiScaler] Iter 4: log residual = -4.321559, log improvement ratio=1.740937
[BiScaler] Iter 5: log residual = -6.056305, log improvement ratio=1.734746
[BiScaler] Iter 6: log residual = -7.788422, log improvement ratio=1.732117
[BiScaler] Iter 7: log residual = -9.519164, log improvement ratio=1.730742
[BiScaler] Iter 8: log residual = -11.249132, log improvement ratio=1.729968
[BiScaler] Iter 9: log residual = -12.978651, log improvement ratio=1.729520
[BiScaler] Iter 10: log residual = -14.707908, log improvement ratio=1.729256
[BiScaler] Iter 11: log residual = -16.437006, log improvement ratio=1.729098
[BiScaler] Iter 12: log residual = -18.166007, log improvement ratio=1.729001
[BiScaler] Iter 13: log residual = -19.894948, log improvement ratio=1.728940
[BiScaler] Iter 14: log residual = -21.623848, log improvement ratio=1.728900
[BiScaler] Iter 15: log residual = -23.352722, log improvement ratio=1.728873
[BiScaler] Iter 16: log residual = -25.081576, log improvement ratio=1.728855
[BiScaler] Iter 17: log residual = -26.810417, log improvement ratio=1.728841
[BiScaler] Iter 18: log residual = -28.539247, log improvement ratio=1.728830
[BiScaler] Iter 19: log residual = -30.268069, log improvement ratio=1.728822
[BiScaler] Iter 20: log residual = -31.996885, log improvement ratio=1.728816
[BiScaler] Iter 21: log residual = -33.725695, log improvement ratio=1.728810
[BiScaler] Iter 22: log residual = -35.454501, log improvement ratio=1.728806
[BiScaler] Iter 23: log residual = -37.183304, log improvement ratio=1.728803
[BiScaler] Iter 24: log residual = -38.912103, log improvement ratio=1.728799
[BiScaler] Iter 25: log residual = -40.640901, log improvement ratio=1.728798
[BiScaler] Iter 26: log residual = -42.369694, log improvement ratio=1.728792
[BiScaler] Iter 27: log residual = -44.098486, log improvement ratio=1.728793
[BiScaler] Iter 28: log residual = -45.827291, log improvement ratio=1.728804
[BiScaler] Iter 29: log residual = -47.556084, log improvement ratio=1.728793
[BiScaler] Iter 30: log residual = -49.284913, log improvement ratio=1.728830
[BiScaler] Iter 31: log residual = -51.013544, log improvement ratio=1.728631
[BiScaler] Iter 32: log residual = -52.742112, log improvement ratio=1.728568
[BiScaler] Iter 33: log residual = -54.471719, log improvement ratio=1.729607
[BiScaler] Iter 34: log residual = -56.200049, log improvement ratio=1.728330
[BiScaler] Iter 35: log residual = -57.922210, log improvement ratio=1.722161
[BiScaler] Iter 36: log residual = -59.661294, log improvement ratio=1.739083
[BiScaler] Iter 37: log residual = -61.383860, log improvement ratio=1.722567
[BiScaler] Iter 38: log residual = -63.036593, log improvement ratio=1.652733
[BiScaler] Iter 39: log residual = -64.541409, log improvement ratio=1.504817
[BiScaler] Iter 40: log residual = -65.607341, log improvement ratio=1.065932
[BiScaler] Iter 41: log residual = -66.106846, log improvement ratio=0.499505
[BiScaler] Iter 42: log residual = -66.279618, log improvement ratio=0.172772
[BiScaler] Iter 43: log residual = -66.227398, log improvement ratio=-0.052220
[SoftImpute] Max Singular Value of X_init = 34.587047
[SoftImpute] Iter 1: observed MAE=0.031801 rank=19
[SoftImpute] Iter 2: observed MAE=0.032585 rank=19
[SoftImpute] Iter 3: observed MAE=0.033564 rank=19
[SoftImpute] Iter 4: observed MAE=0.033870 rank=20
[SoftImpute] Iter 5: observed MAE=0.033999 rank=20
[SoftImpute] Iter 6: observed MAE=0.034135 rank=20
[SoftImpute] Iter 7: observed MAE=0.034276 rank=20
[SoftImpute] Iter 8: observed MAE=0.034429 rank=20
[SoftImpute] Iter 9: observed MAE=0.034601 rank=20
[SoftImpute] Iter 10: observed MAE=0.034623 rank=19
[SoftImpute] Iter 11: observed MAE=0.034428 rank=18
[SoftImpute] Iter 12: observed MAE=0.033699 rank=16
[SoftImpute] Iter 13: observed MAE=0.032385 rank=13
[SoftImpute] Iter 14: observed MAE=0.030570 rank=10
[SoftImpute] Iter 15: observed MAE=0.028901 rank=9
[SoftImpute] Iter 16: observed MAE=0.027747 rank=7
[SoftImpute] Iter 17: observed MAE=0.026814 rank=7
[SoftImpute] Iter 18: observed MAE=0.026224 rank=6
[SoftImpute] Iter 19: observed MAE=0.025746 rank=6
[SoftImpute] Iter 20: observed MAE=0.025512 rank=6
[SoftImpute] Iter 21: observed MAE=0.025393 rank=6
[SoftImpute] Iter 22: observed MAE=0.025330 rank=6
[SoftImpute] Iter 23: observed MAE=0.025294 rank=6
[SoftImpute] Stopped after iteration 23 for lambda=0.691741
[SoftImpute] Max Singular Value of X_init = 79.573258
[SoftImpute] Iter 1: observed MAE=0.067800 rank=20
[SoftImpute] Iter 2: observed MAE=0.068429 rank=20
[SoftImpute] Iter 3: observed MAE=0.068544 rank=19
[SoftImpute] Iter 4: observed MAE=0.068220 rank=18
[SoftImpute] Iter 5: observed MAE=0.066699 rank=16
[SoftImpute] Iter 6: observed MAE=0.065307 rank=15
[SoftImpute] Iter 7: observed MAE=0.062441 rank=13
[SoftImpute] Iter 8: observed MAE=0.060135 rank=13
[SoftImpute] Iter 9: observed MAE=0.058110 rank=11
[SoftImpute] Iter 10: observed MAE=0.055489 rank=9
[SoftImpute] Iter 11: observed MAE=0.053092 rank=9
[SoftImpute] Iter 12: observed MAE=0.051551 rank=8
[SoftImpute] Iter 13: observed MAE=0.050578 rank=8
[SoftImpute] Iter 14: observed MAE=0.050089 rank=8
[SoftImpute] Iter 15: observed MAE=0.049369 rank=6
[SoftImpute] Iter 16: observed MAE=0.047804 rank=6
[SoftImpute] Iter 17: observed MAE=0.046271 rank=5
[SoftImpute] Iter 18: observed MAE=0.045334 rank=5
[SoftImpute] Iter 19: observed MAE=0.044782 rank=5
[SoftImpute] Iter 20: observed MAE=0.044441 rank=5
[SoftImpute] Iter 21: observed MAE=0.043700 rank=4
[SoftImpute] Iter 22: observed MAE=0.043283 rank=4
[SoftImpute] Iter 23: observed MAE=0.043059 rank=4
[SoftImpute] Iter 24: observed MAE=0.042935 rank=4
[SoftImpute] Iter 25: observed MAE=0.042861 rank=4
[SoftImpute] Iter 26: observed MAE=0.042817 rank=4
[SoftImpute] Stopped after iteration 26 for lambda=1.591465
meanFill MSE: 4.965477
Iterative Imputer norm minimization MSE: 0.000000
Nuclear norm minimization MSE: 0.000000
SoftImpute MSE: 0.013702
SoftImpute without BiScale MSE: 0.011530
knnImpute MSE: 0.640178

### RESULTS
We see that the Iterative Imputer and the Nuclear norm minimuxation has an MSE of 0.

We see that simply filling missing values with the mean (meanFill) results in exponentially larger error. 

For the love of all that is good in the world, use iterative imputation over simple methods (where appropriate)